{{> header }}
    
{{> navbar}}

    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h1>Sobre nosotros</h1>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis reprehenderit doloremque explicabo sapiente dolores veritatis, eius modi, earum obcaecati non aliquid eos consequatur labore repellat numquam. Aliquam, quo veniam! Consequuntur.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem mollitia facilis quam tenetur neque dignissimos beatae reprehenderit aperiam. Officia id tempore illum ab quos laboriosam dignissimos consectetur perferendis nobis facere.</p>
            </div>
            <div class="col-md-4">
                <img src="assets/img/img1.jpeg" class="img-thumbnail" alt="">
            </div>
        </div>
    </div>

{{> footer}}